<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="Learn to Code"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JavaScriptQuiz"></activity>
        <activity android:name=".PhpQuiz" />
        <activity android:name=".HtmlQuiz" />
        <activity android:name=".JavaQuiz" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".ObjectOrientedJavaActivity" />
        <activity android:name=".DoubtsListActivity" />
        <activity android:name=".DoubtActivity" />
        <activity android:name=".javascriptActivity" />
        <activity android:name=".PhpActivity" />
        <activity android:name=".HtmlActivity" />
        <activity android:name=".JavaActivity" />
        <activity android:name=".ProgrammingLanguage" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>